.container{
    display: flex;
    justify-content: space-evenly;
}
.tha{display: flex;
   
}
img{width: 70px;
    border-radius: 100%;}
.card{
    margin: 2%;
    width: 400px;
    
}
.lnk{
    text-decoration: none;
    color: black;
}
.card:hover{color: black;
    background-color: rgb(132, 236, 35);}
table{margin: 2%;}
